:root {
  --color-primary: #4285f4;
  --color-secondary: #db4437;
  --color-accent: #0f9d58;
  --color-accent-two: #f4b400;
  --color-headings: #3c4858;
  --color-body: #404040;
  --color-border: #ccc;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*Topography*/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

.text--primary {
  color: var(--color-primary);
}
.text--secondary {
  color: var(--color-secondary);
}
.text--accent {
  color: var(--color-accent);
}
.text--accent-two {
  color: var(--color-accent-two);
}

.text-set {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 1rem 1.5rem 1rem 1.5rem;
  word-wrap: break-word;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  .text-set {
    font-size: 1.6rem;
    padding: 0 4rem;
  }
  .max-text-width {
    padding: 0 10rem;
  }
}

/*Links*/
a {
  text-decoration: none;
  color: inherit;
}

.link--primary {
  color: var(--color-primary);
  text-decoration: underline;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
}
.link--primary:hover {
  color: var(--color-secondary);
}
@media screen and (min-width: 1024px) {
  .link--primary {
    font-size: 1.8rem;
    margin: 0 0 2rem 0;
  }
}

/* Flex */

.flex--column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex--column-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .flex--column-row {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

/* Buttons */
.button {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 8vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.button--primary {
  background: var(--color-primary);
  color: #fff;
}
.button--primary:hover {
  background: #3a8ffd;
}

.button--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.button--secondary:hover {
  background: #da655a;
}
.button--accent {
  background: var(--color-accent);
  color: #fff;
}
.button--accent--two {
  background: var(--color-accent-two);
  color: #fff;
}
.button--accent--two:hover {
  background: #f3c547;
}
.button--accent:hover {
  background: #ec3000;
}

.button--link {
  margin: 1rem 2rem;
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.5rem;
    padding: 2rem 4vw;
  }
}

/* Blocks */

.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 0;
}

.block__heading {
  color: var(--color-headings);
  margin-top: 0;
}
.block__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.light--heading {
  color: white;
}
.block__text {
  font-size: 1.5rem;
  color: var(--color-body);
  padding: 1rem 2rem;
  text-align: center;
}
.block__body__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.block__body__secondary {
  background-color: white;
}
.block--btn {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.block__image {
  width: 70%;
  margin: 1rem 0 2rem 0;
}
.campus__image {
  width: 90%;
  margin: 1rem 1rem 2rem 1rem;
  border-radius: 10px;
}
.event__image {
  width: 70%;
  margin: 1rem 0 2rem 0;
}
.btn-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.block__event__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .block__image {
    width: 35%;
    margin: 1rem 7rem 2rem 4rem;
  }
  .event__image {
    width: 60%;
    margin: 1rem 7rem 2rem 4rem;
  }
  .campus__image {
    width: 40%;
    margin: 1rem 4rem 2rem 2rem;
  }
  .block__text {
    font-size: 1.8rem;
    text-align: left;
    padding: 1rem 1.5rem 1rem 0;
  }
  .block__body__main {
    margin-left: 2rem;
  }
  .block__body {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  .block__body__main {
    padding: 1rem 5rem;
    justify-content: center;
    align-items: flex-start;
  }
  .block__event__container {
    margin-right: 10rem;
  }
  .btn-block {
    margin-right: 1rem;
  }
  .extra-right-margin {
    margin: 1rem 1rem 0 12rem;
  }
}

/*Navbar*/
.nav__brand {
  width: 100%;
  height: 100%;
}
.nav__brand__container {
  max-width: 200px;
}
.nav__toggler {
  width: 40px;
  height: 40px;
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
  margin: 0.5rem 0.1rem 0.5rem;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
  border-bottom: 0.5px solid var(--color-border);
}
.nav__list {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav__item {
  white-space: nowrap;
  color: var(--color-body);
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}
.nav__item > a {
  transition: color 0.3s;
}
.nav__item > a:hover {
  color: var(--color-primary);
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px var(--color-primary);
  border-radius: 5px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  margin: 0;
  z-index: 1;
}

.sticky + .content {
  padding-top: 60px;
}

.nav--btn {
  padding: 2rem 2rem;
}

@media screen and (min-width: 768px) {
  .nav {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav--btn {
    font-size: 1.2rem;
    margin-right: 1rem;
    padding: 1.5rem 2rem;
  }

  .nav__item {
    font-size: 1.3rem;
    font-weight: 500;
    border: 0;
    letter-spacing: 0.5px;
    padding: 0.5rem 1rem;
  }
  .nav__brand {
    margin: 1rem;
    width: 100%;
    max-width: 350px;
    height: 100%;
  }
  .nav__brand__container {
    max-width: 430px;
    margin-right: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .nav__item {
    font-size: 1.35rem;
  }
  .nav__brand {
    width: 80%;
  }
}
@media screen and (min-width: 1440px) {
  .nav__item {
    font-size: 1.6rem;
    margin: 0 1rem;
  }
}

/*List*/
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.list--element {
  font-size: 1.8rem;
  margin: 1rem;
}
.list--element > a:hover {
  color: var(--color-primary);
}
.list--heading {
  font-size: 2.2rem;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .list--element {
    white-space: nowrap;
    font-size: 1.4rem;
  }
  .list--heading {
    font-size: 1.6rem;
  }
}

/* Hero */
.hero {
  margin: 2rem 2rem;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__tagline {
  color: var(--color-body);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 1rem 0 2.5rem;
}

.hero__logo {
  width: 100%;
  margin: 1rem 0;
}

.hero__image {
  width: 70%;
  margin: 2rem 0;
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }
  .hero__image {
    width: 50%;
  }
  .hero__logo {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .hero__logo {
    width: 30%;
  }
  .hero__image {
    margin-right: 6rem;
  }
  .hero__tagline {
    padding: 1rem 7rem;
  }
  .hero--link {
    font-size: 1.4rem;
  }
}

/* Images */

.small__image {
  width: 90px;
  height: 90px;
}

@media screen and (min-width: 1024px) {
  .small__image {
    width: 120px;
    height: 120px;
  }
}

.hero__title {
  text-align: center;
  color: var(--color-body);
  font-size: 3rem;
  font-weight: 700;
}

/*Collapsibles*/

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
  opacity: 0;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .collapsible__content {
    max-height: 100%;
    overflow: visible;
    opacity: 1;
  }
}

/*Banner*/

.banner {
  padding: 6rem 0;
  margin: 0 1rem;
  text-align: center;
  border-radius: 10px;
}

.primary--banner {
  background: rgba(0, 0, 0, 0.7) url(../images/blue-banner.png);
  color: white;
}
.secondary--banner {
  background: rgba(0, 0, 0, 0.7) url(../images/red-banner.png);
  color: white;
}
.yellow--banner {
  background: rgba(0, 0, 0, 0.7) url(../images/yellow-banner.png);
  color: var(--color-headings);
}
.green--banner {
  background: rgba(0, 0, 0, 0.7) url(../images/green-banner.png);
}
.green--banner > .block__heading {
  color: white;
}

@media screen and (min-width: 1024px) {
  .banner {
    padding: 2rem 0;
    margin: 0 1rem 4rem 1rem;
  }
}

/*Cards*/

.card {
  background-color: whitesmoke;
  margin: 3rem;
  box-shadow: 0 0 1px 0.5px #f3f3f3;
  border-radius: 10px;
}
.card__content {
  padding: 1rem;
  margin: 2rem;
}
.card__heading {
  color: var(--color-headings);
}
.card__text {
  font-size: 1.4rem;
}
.no-wrap {
  flex-wrap: nowrap;
  align-items: stretch;
}
@media screen and (min-width: 1024px) {
  .card {
    width: 40vw;
  }
  .card__text {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }
}
/*Icons*/

.icon {
  width: 50px;
  height: 50px;
}

/*Flex*/

.flex-row {
  display: flex;
}

.flex-row-reverse {
  display: flex;
}
.flex-column {
  display: flex;
}
@media screen and (min-width: 768px) {
  .flex-row {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .flex-row-reverse {
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .flex-column {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*Event Blocks*/
.block__event {
  text-align: center;
  margin: 1rem auto;
}
.event__type {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 1rem;
  border-radius: 8px;
  margin: 1rem;
  max-width: 200px;
}
.event__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.event__description {
  font-size: 1.8rem;
  padding: 0.5rem 2rem;
  max-width: 400px;
}

.primary__event {
  background-color: #c6ddfa;
  color: var(--color-primary);
}

.secondary__event {
  background-color: #ece3e2;
  color: var(--color-secondary);
}

.accent__event {
  background-color: #e3ede8;
  color: var(--color-accent);
}

.accent__two__event {
  background-color: #f6efd7;
  color: var(--color-accent-two);
}
.event__body__one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*Profile Card*/

.profile__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.profile__card {
  width: 75%;
  border-radius: 15px;
  overflow: hidden;
  max-width: 400px;
  margin: 1rem 3rem;
}

.profile__card__header {
  background: rgb(15, 157, 88);
  background: linear-gradient(
    215deg,
    rgba(15, 157, 88, 0.6755077030812324) 36%,
    rgba(66, 133, 244, 0.6783088235294117) 79%
  );
  width: 100%;
  height: 150px;
}
.secondary {
  background: rgb(15, 157, 88);
  background: linear-gradient(
    18deg,
    rgba(15, 157, 88, 0.6755077030812324) 36%,
    rgba(66, 133, 244, 0.6783088235294117) 79%
  );
}
.accent {
  background: rgb(15, 157, 88);
  background: linear-gradient(
    290deg,
    rgba(15, 157, 88, 0.6755077030812324) 36%,
    rgba(66, 133, 244, 0.6783088235294117) 79%
  );
}
.accent--two {
  background: rgb(15, 157, 88);
  background: linear-gradient(
    169deg,
    rgba(15, 157, 88, 0.6755077030812324) 36%,
    rgba(66, 133, 244, 0.6783088235294117) 79%
  );
}
.profile__card__body {
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile__card__image {
  border-radius: 50%;
  border: 3px solid white;
  transform: translateY(-80px);
  width: 45%;
  max-width: 400px;
}

.profile__image__container {
  max-height: 70px;
  text-align: center;
}
.card__person-name {
  text-align: center;
  font-size: 2.5rem;
  padding: 0 4rem 0.5rem 4rem;
}
.card__person-name_long {
  padding: 1rem 4rem;
}
.social__media {
  display: flex;
  flex-direction: row;
  border-top: 2px solid lightgray;
  width: 100%;
  justify-content: center;
  margin-top: auto;
}

.social__media__container {
  text-align: center;
  margin: 1rem 2rem;
}

.social__media__icon {
  width: 100%;
  max-width: 35px;
}
.social__media__icon:hover {
  filter: brightness(0) invert(0.5);
}
.social__media__icon__light {
  filter: brightness(0) invert(1);
  margin-right: 1rem;
}
.person__position {
  font-size: 2rem;
}
@media screen and (max-width: 374px) {
  .profile__card__image {
    transform: translateY(-70px);
  }
}

@media screen and (min-width: 768px) {
  .card__person-name {
    font-size: 2rem;
    padding: 1rem 4rem;
  }
  .card__person-name_long {
    padding: 0 4rem;
  }
  .person__position {
    font-size: 1.8rem;
  }
  .social__media__icon {
    width: 100%;
    max-width: 30px;
  }
  .profile__card__header {
    height: 120px;
  }
  .profile__card__image {
    transform: translateY(-50px);
  }
  .profile__container {
    max-width: 350px;
  }
}
@media screen and (min-width: 1024px) {
  .profile__card__image {
    transform: translateY(-50px);
    width: 45%;
  }
  .profile__card {
    width: 80%;
    max-width: 400px;
    margin: 1rem 0;
  }
  .profile__container {
    max-width: 300px;
  }
}

/*Footer*/
.footer {
  background-color: whitesmoke;
}
.footer__brand {
  width: 270px;
}
.credits {
  font-size: 1.3rem;
  text-align: center;
  margin: 2rem;
}
.footer__icon {
  width: 30px;
  height: 30px;
  filter: opacity(40%);
  margin: 0.5rem 1.2rem;
}
.footer__icon:hover {
  filter: brightness(0) invert(0.3);
}
.footer__img__social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__img__social > .social__media__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer--flex {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.list--element > a {
  transition: color 0.3s;
}
@media screen and (min-width: 768px) {
  .footer--flex {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem;
  }
  .footer__brand {
    width: 230px;
  }
  .footer {
    padding: 6rem 0 1rem 0;
  }
  .footer__icon {
    width: 25px;
    height: 25px;
  }
  .footer--section {
    margin: 0 auto;
  }
}

/*Dark Mode*/
body {
  transition: background 0.2s linear;
}
body.dark {
  background-color: #292c35;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 45px;
  height: 20px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 16px;
  height: 16px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.toggle__container {
  margin: 1rem 1rem 1rem 1.2rem;
}
.toggle__icon {
  filter: brightness(0) invert(1);
  width: 12px;
  height: 12px;
}
.text-light {
  color: white;
}
.sticky-light {
  background-color: #292c35;
  border-bottom: 0.5px solid #1d2026;
}
.footer-dark {
  background-color: #1d2026;
}
.img-white {
  filter: brightness(0) invert(1);
}

.card-dark {
  background-color: #1d2026;
  box-shadow: 0 0 1px 0.5px #111316;
}
.profile__card__body__dark {
  background-color: #1d2026;
}
.social__media__dark {
  border-top: 2px solid #111316;
}
.banner-dark {
  background-blend-mode: darken;
}
.button--primary-dark {
  background: #274f90;
}
.button--secondary-dark {
  background: #993027;
}
.button--accent--two-dark {
  background: #b58500;
}
